<div class="jumbotron">
  <h1 class="display-3">{{ game.player1.name }} vs {{ game.player2.name }}</h1>
  <p class="lead">
    {{ game.getStatus() }}
  </p>
</div>
<table class="table">
  <tbody>
    <tr *ngFor="let player of game.getPlayers()">
      <th scope="row">
        <i class="fa fa-chevron-circle-right" *ngIf="player.isServing"></i>
      </th>
      <td>
        <div>{{ player.name }}</div>
        <div>({{ player.wins }}-{{ player.losses }})</div>
      </td>
      <td>{{ player.score }}</td>
      <td>
        <button class="btn btn-success" (click)="game.awardPoint(player)" [disabled]="game.isGameOver()">
          {{ text.buttons.awardPoint }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="game.saveResult()" [disabled]="!game.isGameOver()">{{ text.buttons.save }}</button>
<button class="btn btn-primary" (click)="quitGame()">{{ text.buttons.quit }}</button>
